bin/*
develop-eggs/*
parts/*
eggs/*
dependencies/*
builds/*
pollapli.egg-info/*
.settings/*
*.pyc
*.pyo
.project
.installed.cfg
.scons.dblite
dropin.cache
pollapli/data/environments/
pollapli/data/uploads
pollapli/data/printFiles
