body
{
  background-color:#151515;
  color:#ffffff;
    font-size:75%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#mainMenu
{

  background-color:#272727;/*#36342e;*/
  display:inline-block;
  float:left;
  width:100%;

  margin:0px;
  padding:0px; 
}


#mainMenu_notifications
{
  display:inline-block;
  float:right;
}


.trucmuchy
{
border-style:solid;
  border-color: #888888;
  border-width:1px;
  background-color:#272727;
}

.mainMenu img
{
  opacity:0.4;
  padding:0px;
  border:0px;
 margin:-1px 3px -10px 3px;
}

.mainMenu img:hover
{
  opacity:1;
}

.infos img
{
  opacity:0.8;
  padding:0px;
  border:0px;
  margin:3px 7px 0px 7px;
}

.infos img:hover
{
  opacity:1;

}
#button-description
{
  font-size:2em;
}



.thingy
 {display:inline-block;
  float:left;
 }
 .title
 {
  color:#ffc500;
  font-weight: bold;
 }
 .updateBlock
 {
  display:inline-block;
  float:left;
  background:#7b7464; 
  border-width: 1px;
  padding: 5px;
  margin:10px;
  border-style: solid;
 }

.block
{
display:inline-block;
}
.leftBlock
{
  display:inline-block;
  float:left;
}
.rightBlock
{
  display:inline-block;
  float:left;
}
.bordered
{
  border-width: 2px;
  border-color:#ffffff;
}


/*button custom test*/
.ui-button .ui-icon.truc {
    background-image: url("../pollapli-settings-icon.png");
    width: 32;
    height: 32; 
    margin:-10px;
}

.ui-button.ui-state-hover .ui-icon.truc {
    background-image: url("../pollapli-settings-icon.png");
    width: 32;
    height: 32; 
}

.mask {
  background: url('/img/pollapli-icon-mask.png') repeat;
  position: absolute;
  left:0; top:0;
  }
  
.mask2 {
  background: url('/img/pollapli-icon-mask2.png') repeat;
  position: absolute;
  left:0; top:0;
  }

.losange
{
  width:32px;
  height:28px;
  margin:0px;
  padding:0px;
  background-color:#ffc500;
  display:inline-block;
  float:left;
  opacity:0.4;
}
  
.losange:hover
{
  opacity:1;
}

.input
{
  background-color: #EDF2F7;
}







