body
{
  background-color:#272727;
  color:#ffffff;
  
}

#mainMenu
{
  border-style:solid;
  border-color: #ffffff;
  border-width:1px;
  background-color:#36342e;
  display:inline-block;
  float:left;
  width:100%;
  height:24px;
  margin:0px;
  padding:0px; 
}

#mainMenu_buttons
{
  display:inline-block;
  float:left;
}
#mainMenu_notifications
{
  display:inline-block;
  float:right;
}

#mainContent
{
  border-style:solid;
  border-color: #ffffff;
  border-width:1px;
  background-color:#36342e;
  display:inline-block;
  float:left;
  width:100%;
  height:80%;
}


.thingy
 {display:inline-block;
  float:left;
 }
 .title
 {
  color:#ffc500;
  font-size:120%;
 }
 .updateBlock
 {
  display:inline-block;
  float:left;
  background:#7b7464; 
  border-width: 1px;
  padding: 5px;
  margin:10px;
  border-style: solid;
 }

table.base { width:632px; background:#36342e;  border-color: #ffffff;border-width:1px; }
table.base th { padding:2px 10px 4px 10px; border-color: #ffffff;;border-width:1px;border-style: none}
table.base td { background:#7b7464; padding:2px 10px 4px 10px;  border-color: #ffffff;border-width:1px;border-style: none}


.even td { background:#dfefef; }
.right { text-align:right; }
.left { text-align:left; }
.delayed { font-weight:bold; color:red; }

table.updates {
  border-width: 0px;
  border-style: none;

}
table.updates th {
  border-width: 0px;
  padding: 3px;
  border-style: none;
}
table.updates td {
  border-width: 0px;
  padding: 3px;
  border-style: none;
  
}

