body
{
  background-color:#fefefe;/*#757575;#151515*/
background-image: url("/img/stripe.png");
  /*color:#ffffff;*/
  font-size:75%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body a
{
  
  color:#ffffff;

  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}




#mainMenu_notifications
{
  display:inline-block;
  float:right;
}


.trucmuchy
{
border-style:solid;
  border-color: #888888;
  border-width:1px;
  background-color:#272727;
}

.mainMenu img
{
  opacity:0.4;
  padding:0px;
  border:0px;
 margin:-1px 3px -10px 3px;
}

.mainMenu img:hover
{
  opacity:1;
}

.infos img
{
  opacity:0.8;
  padding:0px;
  border:0px;
  margin:3px 7px 0px 7px;
}

.infos img:hover
{
  opacity:1;

}
#button-description
{
  font-size:2em;
}



.thingy
 {display:inline-block;
  float:left;
 }
 
 .title
 {
  color:#0090ff;!important;
  font-weight: bold;
 }
 
 
 .title_old
 {
  color:#ffc500;!important;
  font-weight: bold;
 }
 
 
 .updateBlock
 {
  display:inline-block;
  float:left;
  background:#7b7464; 
  border-width: 1px;
  padding: 5px;
  margin:10px;
  border-style: solid;
 }

.block
{
display:inline-block;
}
.leftBlock
{
  display:inline-block;
  float:left;
}
.rightBlock
{
  display:inline-block;
  float:left;
}
.fullWidth
{
  width:100%;
}

.tableTest
{
}

.tableTest td
{
 padding-bottom: 0.4em;
 margin:3px;
}

.bordered
{
  border-width: 2px;
  border-color:#ffffff;
}


/*button custom test*/
.ui-button .ui-icon.truc {
    background-image: url("../pollapli-settings-icon.png");
    width: 32;
    height: 32; 
    margin:-10px;
}

.ui-button.ui-state-hover .ui-icon.truc {
    background-image: url("../pollapli-settings-icon.png");
    width: 32;
    height: 32; 
}

.mask {
  background: url('/img/pollapli-icon-mask.png') repeat;
  position: absolute;
  left:0; top:0;
  }
  
.mask2 {
  background: url('/img/pollapli-icon-mask2.png') repeat;
  position: absolute;
  left:0; top:0;
  }



.input
{
  background-color: #EDF2F7;
}


.pblabel { position: absolute; width: 100%; text-align: center; line-height: 1.1em; color:#252525; }


.modifyButton
{
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}
.deleteButton
{
  outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em 1em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}

/* hide the close x on the loading screen */
.loadingScreen .ui-dialog-titlebar-close 
{
  display: none;
}


