<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pollapli experimental web ui</title>
  <meta name="description" content="Pollapli experimental web control arduinos & derived devices (reprap,hydroduino,etc)" />
  <link type="text/css" href="/css/pollapli_alt_theme2/jquery-ui-1.8.15.custom.css" rel="Stylesheet" id="mainCss"/> 
  <link type="text/css" href="/css/pollapli-extra.css" rel="Stylesheet" />  
  
  
  <script  type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
  <script  type="text/javascript" src="/js/jquery-ui-1.8.15.custom.min.js"></script>
  <script type="text/javascript" src="/js/jquery.jqote2.min.js"></script> 
  <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="/js/jquery.corner.js"></script>
  <script  type="text/javascript" src="/pollapli_toolkit.js"></script>
  <script  type="text/javascript" src="/pollapli_toolkit_ui.js"></script>
  <script type="text/javascript">
 
  var manager=new pollapli.Manager(); 
  var currentSelection=""
  
  function thingy()
  {
    var pageHeight = jQuery(window).height();
    var navHeight = pageHeight - 100;
   
    $("#bla").css({ "max-height": navHeight + 'px' });
    $("#bla").css({ "height": navHeight + 'px' });
  }
 
  function menuLinker()
  {
    
    if (currentSelection != $(this).attr("alt"))
    {
     // currentSelection=$(this).attr("alt");
      $("#button-description").text("|"+$(this).attr("alt").toUpperCase());
    }
  }
  
  function setMenu(element)
  {
    if (currentSelection != element)
    {
      $("#"+currentSelection+"_icon").css({ "opacity": 0.5 }); 
      currentSelection=element;
      $("#"+element+"_icon").css({ "opacity": 1 }); 
      
      $("#button-description").text("|"+element.toUpperCase())
      $('#contextMenu').load(element+".html #controls");
      $('#contextContent').load(element+".html #content",
      function(){
        $("button").button();
         if(element=="devices")
       {  
         manager.dostuff();
        }
        else if(element=="updates")
        {
           manager.dostuff2();
        }
        });
     }
  }
  
  $(document).ready(
    function() 
    {
       manager.init();
       $("img").hover(menuLinker);
       $("button").button();
      // $('#cornerTest').corner( "bottom steep 12px").corner("top steep 12px");
      setMenu("devices");
      $("#node-dialog").dialog({ autoOpen: false })
     
    }
  );
  
  </script>
  
  
</head>
<body>
  
  
  
  
  
  

  <script type="text/x-jqote-template" id="nodes_dialog_tmpl"> 
    <![CDATA[
    
      
    
    <% if (!this.node)
    {
      this.node={name:"...",description:"...",type:"...",id:-1};
    }
    
    this.environmentId=1;
  %>
    <div>
    <form>
        <fieldset>
          <label for="nodes_dialog_name" class="title">Name</label>
          <input type="text" name="nodes_dialog_name" id="nodes_dialog_name" value="<%= this.node.name %>" class="text ui-state-default ui-corner-all" style="width:100%"/>
          <label for="nodes_dialog_description" class="title">Description</label>
          <textarea rows="4" cols="25" name="nodes_dialog_description" id="nodes_dialog_description" class="text ui-state-default ui-corner-all " style="width:100%"><% this.node.description=$.trim(this.node.description);%><%=this.node.description %></textarea>
        </fieldset>
      </form>
    <div class="title leftblock">Parent Environment: </div> <div class="leftblock"> <%= this.environmentId %> </div>   
    <div class=" leftblock">ID: <%= this.node.id%></div>
    <button onCLick=pollapli.validateNodeOp('<%= this.mode%>',<%= this.node.id%>);> <%= this.mode%> </button> 
    </div>
    ]]>
  </script> 
  
   <script type="text/x-jqote-template" id="nodes_tmpl"> 
    <![CDATA[
    <li>
        <Strong>Device Id:</Strong> <%= this.id %>  <Strong>Name: </Strong><%= this.name %> <Strong>description: </Strong> <%= this.description %><Strong>type: </Strong> <%= this.type %>  <Strong>link: </Strong> <a href=<%= this.link.href %>> <%= this.link.href %></a>      
        <div><button onClick= pollapli.openNodeDialog(<%=j%>,"modify") > Modify</button> <button onClick= manager.deleteNode(<%=this.id%>) > Delete</button> </div>   
     </li>
    ]]>
  </script> 
  
  <script type="text/x-jqote-template" id="environments_tmpl">
<![CDATA[

    <li>
      <Strong>Name </Strong><%= this.name %> <Strong>Description </Strong> <%= this.description %> <Strong>Status </Strong> <%= this.status %> <Strong>link: </Strong> <a href=<%= this.link.href %>> <%= this.link.href %></a> 
      <ul >
        <li class="title">Nodes:</li>
        <div><button onClick=pollapli.openNodeDialog(-1,"create")> Add</button> </div>
          <ol id="nodes">
           
          </ol>
      </ul>
      <ul >
        <li class="title">Tasks:</li>
          <ol id="tasks">
          </ol>
      </ul>
    </li>

    ]]>
  </script>

<script type="text/x-jqote-template" id="nodes_tmpl"> 
          <![CDATA[
 <tr>
  <td>
   <%= this.name %>
  </td>
  <td class="right">
   <%= this.description %>
  </td>
  <td class="right">
   <%= this.type %>
  </td>
  <td>
   <%= this.id %>
  </td>
  <td>
   <%= this.link.href %>
  </td>
 </tr>
                ]]>
  </script> 
  
<script type="text/x-jqote-template" id="updates_tmpl"> 
          <![CDATA[
          
         
          <div class="ui-corner-all ui-state-default block" style="margin:10px 0px 30px 0px; width:99%">
            <div class="title ui-widget-header ui-corner-tr ui-corner-tl " ><%= this.type %>: <%= this.name %> </div>
              <div >
                <div class="leftBlock"  style="margin:10px 70px 10px 20px;"><img  width="320" height="200" alt=<%= this.img %> src=<%= this.img %> /> </div>
              </div>
            <div style="width:60%">
                <table  > 
                    <tr>
                        <td class="title"> Description </td>
                    </tr>
                    <tr>
                        <td ><%= this.description %></td>
                    </tr>
                    <tr>
                        <td class="title"> Tags </td>
                    </tr>
                    <tr>
                        <td ><%= this.tags.link.href %></td>
                    </tr>
                     <tr>
                        <td class="title"> Download & install </td>
                      </tr>  
                      <tr>
                        <td>
                          <button onClick="manager.postUpdateDownload()">Download & Install </button>
                          <% this.progressbarId="progressBar"+this.id;%> 
                        <divclass="ui-helper-hidden progresswraper "  style="width:200px; position:relative">
                            <div id=<%=this.progressbarId%> class="progressbar " style="height:12px" ></div>
                            <div style="position:absolute ; top:-14px ;left:100px; ">45% </div>
                        </div>
                          
                          
                         
                         </div>
                        <% if(!this.downloaded)
                          {
   
                          }
                          %>
                          </td> 
                      </tr>
                        
                    
                </table>
            </div>            
          </div>
          
           
             
                        
                        
                        
          

                ]]>
  </script> 


<script type="text/x-jqote-template" id="events_tmpl"> 
    <![CDATA[
    <div>
    <% 
      var dt=new Date((Number(this.time))*1000);
      this.time=(dt.getMonth()+1)+ '/'+dt.getDate()+ '/'+dt.getFullYear() +" "+ dt.getHours() + ':' + dt.getMinutes() + ':' + dt.getSeconds() ;
    %>
    <Strong>Signal: </Strong> <%= this.signal %>  <Strong>Sender: </Strong><%= this.sender %> <Strong>Data: </Strong> <%= this.data %> <strong> SenderInfo:</strong><%= this.senderInfo %><strong>Time:</strong><%= this.time %>
     
     </div>
    ]]>
</script> 

<script type="text/x-jqote-template" id="errors_tmpl"> 
    <![CDATA[
    <div>
  
    <Strong>Error: Code: </Strong> <%= this.errorCode %>  <Strong>Message: </Strong><%= this.errorMessage %> 
     
     </div>
    ]]>
</script> 


<div id="topSpacer" style="display:inline-block;float:left;height:20px"> <br> </div>
  <div id="mainMenu" class=" ui-corner-all" >
    <div id="mainMenu_buttons" style="display:inline-block;float:left;" class="mainMenu">
      
      <div style="display:inline-block;float:left">
        
    
      <img src="/img/pollapli-overview-icon.png" alt="overview" id="overview_icon" onClick="setMenu('overview')"/>
      <img src="/img/pollapli-devices-icon.png" alt="devices" id="devices_icon" onClick="setMenu('devices')"/>
      <img src="/img/pollapli-tasks-icon.png" alt="tasks" id="tasks_icon" onClick="setMenu('tasks')"/>
      <img src="/img/pollapli-data-icon.png" alt="data" id="data_icon" onClick="setMenu('data')"/>
      <img src="/img/pollapli-tools-icon.png" alt="tools" id="tools_icon" onClick="setMenu('tools')"/>
      <img src="/img/pollapli-settings-icon.png" alt="settings" id="settings_icon" onClick="setMenu('settings')"/>
      </div>
      <div style="display:inline-block;float:right;width:20px"></div>
      <div id="button-description" style="display:inline-block;float:right">|</div>
    </div>
    <div id="mainMenu_additional" style="display:inline-block;float:right"  class="infos">
       <div id="mainMenu_notifications" style="display:inline-block;float:left">
          <img src="/img/pollapli-errors-icon.png" alt="errors" id="errors_icon" onClick="setMenu('errors')"/>
          
          <img src="/img/pollapli-updates-icon.png" alt="updates" id="updates_icon" onClick="setMenu('updates')"/>
      </div>
      <div id="mainMenu_help" style="display:inline-block;float:right">
        <div style="display:inline-block;float:left;text-align:center;margin:8px 7px 1px 7px;">Pollapli 0.5.0</div>
       <img src="/img/pollapli-help-icon.png" />
      </div>
     </div>
  </div>
  
  <div id="mainContent"  style="height:700px;display:inline-blockfloat:left;width:100%;background-color:#222529" class="ui-state-default ui-corner-all">
    <div id="contextMenu" style="width:20%; height:600px;display:inline-block;float:left;background-color:#222529;" class=" ui-corner-all"></div>
    <div id="contextContent" style="width:79%; height:600px;display:inline-block;float:left;background-color:#222529;" class=" ui-corner-all"></div>
  </div>
  <div id="events" style="width:100%; height:30px;display:inline-block;float:left;"/>

  <div id="node-dialog" title="Node ">
  
  </div>

</body>
</html>